.anchor
.DS_Store
*.pdb
**/mutants.out*/
debug
target
**/*.rs.bk
.idea/
node_modules
test-ledger
.yarn
.env*
aarchives
justfile
env.ts
index.ts
removed.rs
accounts
idl
clients
codama.json
program_bytes
**/*.so
